$white: #fff;
$black: #000;
$silver: #eaeaea;
$gray: #8a8888;
$bgColor:#f5f6f7;
$brown:#cea676;
$pink:#ff6699;
$primary:#20c1d8;
$secondary:#14cab1;
$bgBtn: rgba(32,193,216,0.6);
$bgFooter:#192057;
$linear:linear-gradient(35deg, #17EAD9 0%, #6078EA 100%);
$linear_Secondary:linear-gradient(to right, #21d397 0%, #7450fe 100%);





